$c-grey: #525252;
$c-grey-dark: #1f1f1f;
$c-orange: #d48a6d;
$c-orange-light: #e5b9a7;
$c-green: #56d67e;
$c-green-glow: #00e65e;
$c-white: #FFF;
$c-black: #000;
$c-led-red: #D35400;
$c-led-blue: #299DE3;
$c-text-normal: #525252;
$c-text-title: #1f1f1f;
$c-text-disabled: #9E9E9E;
