/* X-Wing
   ========================================================================== */
@import "fixedsticky";
.xwing-wrapper {
  overflow: hidden;
  width: 100%;
  bottom: 0;
  // never the target of mouse events
  // https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
  pointer-events: none;

  svg {
    bottom: 0;
    display: block;
    left: calc((100% - 1440px) / 2);
    position: relative;
    width: 1440px;

    * {
      pointer-events: all;
    }
  }
}

@include mq-min-check(640px) {
  .xwing-wrapper svg {
    left: calc((100% - 1400px) / 2);
    width: 1400px;
  }
}


.xwing-btn2 {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.xwing-btn2-rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
