@charset "UTF-8";

$old-ie: false;

@import "var";
@import "mixin";

*, *:after, *:before {
  @include box-sizing(border-box);
}
body {
  background: $c-white;
  color: $c-text-normal;
  font-family: 'Proxima Nova', 'Open Sans', Arial, sans-serif;
  font-size: 17px; // 28px
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

/* Typography
   ========================================================================== */
a {
  border-bottom: 1px solid $c-orange;
  text-decoration: none;

  &:link, &:visited {
    color: $c-orange;
  }
  &:hover, &:focus, &:active {
    color: $c-grey-dark;
    border-bottom-color: $c-grey-dark;
  }
}
p {
  margin: 0;
  padding: 0;
}
.section-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 30px;
  padding-top: 22px;
  text-transform: uppercase;

  &[class^="icon-"]:before,
  &[class*=" icon-"]:before {
    margin-right: 0.25em;
    position: relative;
    top: 3px;
  }
}
.schedule-title,
.sponsor-title {
  font-size: inherit;
  font-weight: bold;
  margin: 0;
}
.session-title,
.workshop-title {
  color: $c-text-title;
  font-size: 24px; // 34px
  font-weight: 500;
  margin: 0 0 20px;
}
.session-time,
.workshop-time {
  font-weight: bold;
}
.workshop-time {
  line-height: 2;
}
.session-content,
.workshop-content,
.blurb {
  font-weight: normal;
  line-height: 1.7;

  & > p {
    font-weight: 500;
  }
}
.workshop-content-extended {
  padding-top: 1em;

  p {
    margin: 1em 0;
    font-weight: 200;
  }
}
.workshop-list {
  font-weight: bold;
  line-height: 1.7;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.4em;

  & li {
    &:before {
      content: '\2713';
      padding-right: 0.9em;
      margin-left: -1.4em;
    }
  }

  & li span {
    font-weight: 400;
  }
}
.tbc {
  color: $c-text-disabled;
}
.more-sessions {
  color: $c-text-disabled;
  font-size: 17px;
  font-weight: normal;
  margin-top: 27px;
}
.codeofconduct {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 600px;
}

/* Grid
   ========================================================================== */
.main,
.footer {
  margin: 0 auto;
  max-width: 1002px;
  padding-left: 10px;
  padding-right: 10px;
}


/* Header
   ========================================================================== */
.masthead {
  background: $c-black;
  color: $c-green;
  font-family: cern, monospace;
  text-align: center;
  text-shadow: 0 0 10px $c-green-glow;
  text-transform: uppercase;

  a {
    &, &:link, &:visited {
      color: $c-green;
    }
    &:hover, &:focus, &:active {
      color: $c-black;
      text-shadow: 0 0 10px $c-black;
    }
  }
}
.nav-main {
  // display: none;
  padding-top: 30px;
  padding-bottom: 50px;

  a {
    border-bottom: 0 none;
    display: block;
    font-size: 32px;
    padding-bottom: 5px;

    &:hover, &:focus, &:active {
      color: $c-green;
      text-shadow: 0 0 10px $c-green-glow;
    }
  }
}

/* Screen
   ========================================================================== */
.logo {
  margin: 40px auto;
  max-width: 306px;
  width: 50%;

  span {
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 100% 0 0;
    text-indent: -200%;
  }
}
.details-tickets-wrapper {
  font-size: 24px;
}
.tickets-wrapper {
  &:before {
    content: "-";
    line-height: 1;
    display: block;
    text-align: center; // old IE fix
  }
}
.tickets-lines {
  margin: 0;
}


/* Sections
   ========================================================================== */
.main-hr {
  &, &:before, &:after {
    content: "";
    border: 0 none;
    border-top: 1px solid rgba(#ded9d6, .5);
    display: block;
    height: 10px;
    margin: 0;
    background: #ededeb;
    background: -webkit-linear-gradient(bottom, #ededeb 0%, #fbfbf9 100%);
    background:   linear-gradient(to top, #ededeb 0%, #fbfbf9 100%);
  }
  & {
    background-size: 100% 10px;
    height: 30px;
    margin-bottom: 22px;
  }
  &:before {
    margin-top: 9px;
  }
}
.sub-hr {
  &:before {
    border-bottom: 1px solid #e9e6e5;
    border-top: 1px solid #e9e6e5;
    content: "";
    display: block;
    height: 4px;
    margin-bottom: 15px; // 30px
  }
}

.sessions-wrapper {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
.session-wrapper ,
.monty {
  padding-bottom: 15px; // 30px
}

/* Non Speaker Session
   ========================================================================== */
.break {
  @include clearfix;
}

/* Speaker Session
   ========================================================================== */
.session-speaker-img {
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid $c-orange;
  box-shadow: inset 0 0 0 2px $c-white;
  height: 87px;
  margin-right: 12px; // 24px
  margin-top: 9px;
  width: 87px;

  & img {
    visibility: hidden;
  }
}
.session-header {
  @include clearfix;
  margin-top: 24px;
}
.session-content {
  clear: both;
  padding-top: 25px; //50px

  .session-style-titles & {
    padding-top: 0;
  }
}
.session-links {
  margin-top: 20px; //40px

  a {
    display: block;
    line-height: 40px;

    &:before {
      border-bottom: 4px solid $c-white;
      font-size: 1.2em;
      padding-bottom: 1px;
      padding-right: 0.25em;
      vertical-align: bottom;
    }
  }
}

/* Workshops
   ========================================================================== */
.workshop-content-wrapper,
.workshop-list {
  margin-top: 20px;
}


/* Locations
   ========================================================================== */
.locations {
  &, & ul {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.location {
  margin-bottom: 15px; //30px

  p {
    margin: 0;
  }
}


/* Sponsors
   ========================================================================== */
.sponsor {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; // this is for IE

  a {
    border-bottom: 0 none;
    display: block;
  }

  img {
    border: 0 none; // IE fix
    max-width: 100%;
  }
}
.sponsor-title {
  margin-bottom: 25px;
}

/* Footer
   ========================================================================== */
.footer {
  padding-bottom: 30px; //60px
  padding-top: 22px;
  text-align: center;
}
.blurb {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#left-logic {
  height: 23px;
  margin: 0 auto;
  width: 113px;
}
// no-svg fallback
.left-logic {
  background-image: url(../images/left-logic.png);
  background-position: top;
  background-size: 113px 23px;
  border-bottom: 0 none;
  overflow: hidden;
  display: block;
  text-indent: -200%;
}


@import "mq";
@import "header";