@charset "UTF-8";

@import "var";
@import "mixin";

@include font-face('OCR-A', "../fonts/ocr-a/OCR-A");
@include font-face('Steelfish', "../fonts/steelfish/steelfish_rg");

*, *:after, *:before {
  @include box-sizing(border-box);
}
body {
  background: $c-black;
  color: $c-text-normal;
  font: 17px/1.75 'OCR-A', monospace;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* Typography
   ========================================================================== */
a {
  text-decoration: none;

  &:link, &:visited {
    color: $c-yellow;
  }
  &:hover, &:focus, &:active {
  }
}
p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, strong {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
em {
  font-style: normal;
}
h2, h3 {
  color: $c-white;
}
.section-title {
  font-size: 32px;
  line-height: 1;
  margin: 0 0 30px;
  padding-top: 22px;
  text-align: center;
}
.sponsor-title {
  color: $c-grey-title;
  font-size: 30px;
  margin: 0;
}
.dtstart,
.location,
.session-time,
.workshop-time,
.workshop-list h4,
.location-description {
  color: $c-blue;
}
.session-content p,
.workshop-content,
.workshop-list {
  text-transform: none;
}
.workshop-content-extended {
  padding-top: 1em;

  p {
    margin: 1em 0;
  }
}
.workshop-list {
  list-style: none;
  margin: 0;
  padding: 0;

  h4 {
    margin: 1em 0 0;
  }
}
.tbc {
  color: $c-grey-title;
}
.more-sessions {
}
.main-sponsors,
.footer {
  background: $c-grey-bg;
  font-family: Steelfish, Verdana;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}


/* Grid
   ========================================================================== */
.masthead,
.main,
.footer {
  margin: 0 auto;
  max-width: 1002px;
  padding: 6.25%;
}


/* Header
   ========================================================================== */
.masthead {
  text-align: center;
}
.nav-main {
  margin: 56px 0 24px;

  a {
    display: block;
    padding: 10px 0;

    &:hover, &:focus, &:active {
    }
  }
}
.logo-wrapper {
  margin: 24px auto 36px;
  width: 58%;
  -webkit-transform: perspective(262px) rotateX(45deg);
          transform: perspective(262px) rotateX(45deg);

  svg {
    stroke: $c-yellow;
  }
}
.logo {
  margin: 40px auto;
  max-width: 306px;
  width: 50%;

  span {
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 100% 0 0;
    text-indent: -200%;
  }
}
.dtstart,
.location {
  display: block;
  margin: 20px 0;
}


/* Sections
   ========================================================================== */
.sub-hr {
  border-top: 1px solid $c-grey-divider;
  padding-top: 20px;

  &:first-of-type {
    border-top: 0 none;
  }
}

.sessions-wrapper {
  // clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
.session-wrapper,
.workshop-wrapper,
.monty {
  padding-bottom: 20px;
}

/* Non Speaker Session
   ========================================================================== */
.break {
  // @include clearfix;
}

/* Speaker Session
   ========================================================================== */
.session-speaker-img-wrapper {
  display: none;
}
// .session-speaker-img {
//   background-position: 50% 50%;
//   background-size: cover;
//   height: 87px;
//   margin-right: 12px; // 24px
//   margin-top: 9px;
//   width: 87px;

//   & img {
//     visibility: hidden;
//   }
// }
.session-header {
  // @include clearfix;
  // margin-top: 24px;
}
.session-content {
  // clear: both;
  padding-top: 25px;

  .session-style-titles & {
    padding-top: 12px;
  }
}
.session-links {
  margin-top: 20px;

  a {
    display: block;
    line-height: 2.5;

    // &:before {
    //   padding-bottom: 1px;
    //   padding-right: 0.25em;
    //   vertical-align: bottom;
    // }
  }
}

/* Workshops
   ========================================================================== */
.workshop-content-wrapper,
.workshop-list {
  margin-top: 25px;
}


/* Locations
   ========================================================================== */
.locations {
  &, & ul {
    // clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.location {
  margin-bottom: 20px; //30px

  p {
    margin: 0;
  }
}


/* Sponsors
   ========================================================================== */
.main-sponsors {
}
.sponsor {
  background: $c-white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; // this is for IE

  a {
    display: block;
  }

  img {
    border: 0 none; // IE fix
    max-width: 100%;
  }
}
.sponsor-title {
  // margin-bottom: 36px;
}


/* Footer
   ========================================================================== */
.footer {
  padding-bottom: 30px;
  padding-top: 22px;
  max-width: 580px;
}
#left-logic {
  // height: 23px;
  margin: 30% auto;
  width: 65%;

  object {
    display: block;
  }
}
// no-svg fallback
.left-logic {
  background-image: url(../images/left-logic.png);
  background-position: top;
  background-size: 113px 23px;
  border-bottom: 0 none;
  overflow: hidden;
  display: block;
  text-indent: -200%;
}


@import "mq";
@import "xwing";