@charset "UTF-8";

$old-ie: false;

@import "var";
@import "mixin";

*, *:after, *:before {
  @include box-sizing(border-box);
}
body {
  background: $c-black;
  color: $c-text-normal;
  font: 16px/1.75 monospace;
  margin: 0;
  padding: 0;
}

/* Typography
   ========================================================================== */
a {
  text-decoration: none;

  &:link, &:visited {
    color: $c-yellow;
  }
  &:hover, &:focus, &:active {
  }
}
p {
  margin: 0;
  padding: 0;
}
h2, h3 {
  color: $c-white;
  text-transform: uppercase;
}
.section-title {
  font-size: 30px;
  line-height: 1;
  margin: 0 0 30px;
  padding-top: 22px;
  text-align: center;
}
.sponsor-title {
  font-size: 60px;
  margin: 0;
}
.session-speaker-name,
.session-links,
.workshop-speaker-name,
.workshop-time {
  text-transform: uppercase;
}
.session-time,
.workshop-time {
  color: $c-blue;
}
.session-content,
.workshop-content,
.blurb {

  & > p {
  }
}
.workshop-content-extended {
  padding-top: 1em;

  p {
    margin: 1em 0;
  }
}
.workshop-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.4em;
}
.tbc {
}
.more-sessions {
  margin-top: 27px;
}
.codeofconduct {
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 600px;
}

/* Grid
   ========================================================================== */
.main,
.footer {
  margin: 0 auto;
  max-width: 1002px;
  padding-left: 10px;
  padding-right: 10px;
}


/* Header
   ========================================================================== */
.masthead {
  text-align: center;
  text-transform: uppercase;

  a {
    &, &:link, &:visited {
    }
    &:hover, &:focus, &:active {
    }
  }
}
.nav-main {
  // display: none;
  padding-top: 30px;
  padding-bottom: 50px;

  a {
    border-bottom: 0 none;
    display: block;
    padding-bottom: 5px;

    &:hover, &:focus, &:active {
    }
  }
}

/* Screen
   ========================================================================== */
.logo {
  margin: 40px auto;
  max-width: 306px;
  width: 50%;

  span {
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 100% 0 0;
    text-indent: -200%;
  }
}
.details-tickets-wrapper {
}
.tickets-wrapper {
  &:before {
    content: "-";
    line-height: 1;
    display: block;
    text-align: center; // old IE fix
  }
}
.tickets-lines {
  margin: 0;
}


/* Sections
   ========================================================================== */
.sub-hr {
  &:before {
    border-top: 1px solid $c-grey-title;
    content: "";
    display: block;
    margin-bottom: 15px; // 30px
  }
}

.sessions-wrapper {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
.session-wrapper ,
.monty {
  padding-bottom: 15px; // 30px
}

/* Non Speaker Session
   ========================================================================== */
.break {
  @include clearfix;
}

/* Speaker Session
   ========================================================================== */
.session-speaker-img {
  background-position: 50% 50%;
  background-size: cover;
  height: 87px;
  margin-right: 12px; // 24px
  margin-top: 9px;
  width: 87px;

  & img {
    visibility: hidden;
  }
}
.session-header {
  @include clearfix;
  margin-top: 24px;
}
.session-content {
  clear: both;
  padding-top: 25px; //50px

  .session-style-titles & {
    padding-top: 0;
  }
}
.session-links {
  margin-top: 20px; //40px

  a {
    display: block;
    line-height: 40px;

    &:before {
      padding-bottom: 1px;
      padding-right: 0.25em;
      vertical-align: bottom;
    }
  }
}

/* Workshops
   ========================================================================== */
.workshop-content-wrapper,
.workshop-list {
  margin-top: 20px;
}


/* Locations
   ========================================================================== */
.locations {
  &, & ul {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.location {
  margin-bottom: 15px; //30px

  p {
    margin: 0;
  }
}


/* Sponsors
   ========================================================================== */
.sponsor {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; // this is for IE

  a {
    border-bottom: 0 none;
    display: block;
  }

  img {
    border: 0 none; // IE fix
    max-width: 100%;
  }
}
.sponsor-title {
  margin-bottom: 25px;
}

/* Footer
   ========================================================================== */
.footer {
  padding-bottom: 30px; //60px
  padding-top: 22px;
  text-align: center;
}
.blurb {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#left-logic {
  height: 23px;
  margin: 0 auto;
  width: 113px;
}
// no-svg fallback
.left-logic {
  background-image: url(../images/left-logic.png);
  background-position: top;
  background-size: 113px 23px;
  border-bottom: 0 none;
  overflow: hidden;
  display: block;
  text-indent: -200%;
}


@import "mq";
@import "header";