- function capitalize(str){
-   str = str == null ? '' : String(str);
-   return str.charAt(0).toUpperCase() + str.slice(1);
- }

- function pad(num) {
-   var s = "0" + num;
-   return s.substr(s.length - 2);
- }