section.diversity.main(role='region', aria-labelledby='diversity-statement')
  h2#diversity-statement.section-title(role='heading', aria-level='2') Diversity Statement
  :markdown
    ffconf takes diversity seriously. "Why don't we see any women speakers on the website?" you ask? Well, because there are no speakers at all on the website.

    We want people to attend because of the content we provide, not who's presenting it. As such, we only reveal our speakers at the day of the conference.

    This statement is our approach to make our commitment to diversity as transparent as possible: **ffconf 2015 has 50% women speakers.**

    This is nothing we are particularly proud of, because it should be the norm, but it is what we've got and it's what we'd like to share with you. Also, we are well aware that diversity for tech conference speakers covers more aspects than just gender and we are taking this into account as well.