footer.footer
  p.blurb
    a(href='', target='_blank') #ffconf
    |  is run by Left Logic, a small team of developers based in Brighton (UK), specialising in Node based applications and bleeding edge front end technology.

  p.codeofconduct By attending any of our events (workshops & conference & fringe events) you are agreeing to our
    a(href='http://confcodeofconduct.com', target='_blank') code of conduct

  div#left-logic(href='http://leftlogic.com')
    object(data='/images/left-logic.svg', type='image/svg+xml')
      a.left-logic(href='http://leftlogic.com') Left Logic