hr.main-hr
footer.footer
  a.twitter.icon-social-twitter(href='https://twitter.com/ffconf')
    span.at @
    | ffconf

  ul.previously
    each year in [2013, 2012, 2011, 2010, 2009]
      li
        a(href='http://' + year + '.ffconf.org')=year

  p.codeofconduct Note that by attending any of our events - workshops & conference & fringe event, you are agreeing to our code of conduct:&nbsp;
    a(href='http://confcodeofconduct.com', target='_blank') confcodeofconduct.com
    |  -
    em tl;dr: Be excellent with each other.

  p.blurb.
    <strong>#ffconf</strong> is run by Left Logic, a small team of developers based in Brighton (UK), specialising in Node based applications and bleeding edge front end technology.

  div#left-logic(href='http://leftlogic.com')
    object(data='/images/left-logic.svg', type='image/svg+xml')
      a.left-logic(href='http://leftlogic.com') Left Logic