hr.main-hr
section.main.main-sponsors(role='region', aria-labelledby='sponsors')
  h2#sponsors.section-title.icon-thumbs-up(role='heading', aria-level='2') Sponsors

  if public._data.sponsors.available
    div.button-wrapper
      a.button(href='/sponsorship.html') Become a sponsor

  each cat, key in public._data.sponsors
    if cat.length
      section.sub-hr.monty(class=key + '-monty')
        h3.sponsor-title(role='heading', aria-level='3')= capitalize(key) + ' Monty Sponsors'
        div.sponsors-wrapper
          each sponsor in cat
            section.sponsor(class='sponsor-' + key)
              a(href=sponsor.url, target="_blank")
                img(src='/images/sponsors/' + sponsor.img, alt='Sponsor logo')