|  
|  
|  
|  
|  
|  Hi there.
|  
|  So, you might be looking for the speakers for this wonderful event. Good for you!
|  
|  However, as with previous years of ffconf, we will only annouce the sessions (that have been confirmed)
|  whilst we're selling tickets, because, well, you're attending for the amazing content, not just the
|  pretty faces we'll have lined up, eh?
|  
|  That's not to dismiss how amazing our speakers are - they truly are, but you'll have to wait until *after*
|  we've sold all our tickets to find out exactly who they are.
|  
|  Good luck!
|  
|  See you in November I hope!
|  
|  – Remy
|  
|  
|  
|  Also, this:
|  
|  
|  
|                        \_            /;              _.._
|                        `\~--.._     //'            ,(+=\\\\
|                         `//////\  \\/;'             /~ (\\\\
|                           ~/////\~\`)'             /;   ))))
|                               `~'  |              ((`~/((((\
|                               ;'_\'\             /'))   )))))
|                              /~/ '" "'     _.  /'/\_ /^\`((( \
|                             `\/'       _.-~/--/ (  =(   | ,  |
|                                     _/~\_)_}___/^\/~`\.__\|==|
|                                    /uUUU)        )        |  |
|                                   (   / |      _-=o|\__ /'/~ \
|                                   ' /'  |     /(((((\`\(  |~\/
|                                   /'    |   /' )))))"`\`\|/_/---.._,$$,
|                             .,ssS$$$Sss|._/_..-((('    )\)>>>      ~\$
|                          ,sS$$$$$$$$$$$|$$$$$$$  |/    //'~`o        `\
|                        ,$$$$$$$$$$$$$$|$$S$$$$'  (    /                \
|                      ,$$$$$$$$$$$$S$$|$$$$$$$'   |   /              ,s$$$
|                    s$$$$$S$$$$$$$$$S|$$$$$$$$    |  /              $$$$$$
|                  _~,$S""''     ``"S|$$S$$$$$"    (_,`\,          ,$$$$$$$;
|                /~ ,"'             / 'S$$$$$"      \_./|        s$$$$$$$$$$
|             (~'      _,  \==~~)  /     """         \  |       $$$$$$$$$$$$
|              (0\   /0/     \-' /'                   \ |  |  ,$$$$$$$$$$$$$,
|              `/'  '         _-~                     |= \_-\ $$$$$$$$$$$$$$s
|              (~~~)      _.-~_-   \             \  ,s|= |   `"$$$$$$$$$$$$$$$
|             ( `-'  )/>-~  _/-__   |            |,$$$|_/,      `"$$$$$$$$$$$$
|             /V^^^^V~/' _/~/~~  ~~-|            |$$$$$$$$         "$$$$$$$$$$,
|            /  (^^^^),/' /'        )           /S$$$$$$$;         ,$$$$$$$$$$$,
|          ,$$_  `~~~'.,/'         /     _-ss, /(/-(/-(/'        ,s$$$$$$$$$$$$$
|        ,s$$$$$ssSS$$$'         ,$'.s$$$$$$$$'                  (/-(/-(/-(/-(/'
|       S$$$$$$$$$$$$$$        ,$$$$$$$$$$$$$'
|      (/-(/-(/-(/-(/'      _s$$$$$$$$$$$$$$
|                          (/-(/-(/-(/-(/-'
|  
|  
|  
|  
|  
